<footer class="bg-[#fff7ed] text-gray-800 pt-12 pb-6">
  <div class="max-w-7xl mx-auto px-6">
    <div class="grid md:grid-cols-4 gap-8 mb-8">

      <!-- Logo e descrizione -->
      <div>
        <h3 class="text-2xl font-bold mb-4">Lucina</h3>
        <p class="text-gray-500 leading-relaxed">
          La tua destinazione per la skincare coreana autentica. Bellezza che nasce dalla natura e dalla tradizione.
        </p>
      </div>

      <!-- Informazioni -->
      <div>
        <h4 class="text-xl font-semibold mb-4">Informazioni</h4>
        <ul class="space-y-2">
          <li><a [routerLink]="['/about-us']" class="hover:text-[#a9876e] transition-colors">Chi siamo</a></li>
          <li> <a [routerLink]="['/contact-us']" class="hover:text-[#a9876e] transition-colors">Contattaci</a></li>
          <li> <a [routerLink]="['/faq']" class="hover:text-[#a9876e] transition-colors">FAQ</a></li>
        </ul>
      </div>

      <!-- Servizio clienti -->
      <div>
        <h4 class="text-xl font-semibold mb-4">Servizio clienti</h4>
        <ul class="space-y-2">
          <li><a href="#" class="hover:text-[#a9876e] transition-colors">Spedizioni</a></li>
          <li><a href="#" class="hover:text-[#a9876e] transition-colors">Resi e cambi</a></li>
          <li><a [routerLink]="['/faq']" class="hover:text-[#a9876e] transition-colors">FAQ</a></li>
          <li><a [routerLink]="['/contact-us']" class="hover:text-[#a9876e] transition-colors">Contatti</a></li>
        </ul>
      </div>

      <!-- Account -->
      <div>
        <h4 class="text-xl font-semibold mb-4">Account</h4>
        <ul class="space-y-2">
          <li><a href="#" class="hover:text-[#a9876e] transition-colors">Il mio account</a></li>
          <li><a href="#" class="hover:text-[#a9876e] transition-colors">Ordini</a></li>
          <li><a href="#" class="hover:text-[#a9876e] transition-colors">Wishlist</a></li>
          <li><a href="#" class="hover:text-[#a9876e] transition-colors">Programma fedeltà</a></li>
        </ul>
      </div>

    </div>

    <!-- Footer bottom -->
    <div class="border-t border-gray-300 pt-4 text-center text-gray-500">
      <p>&copy; 2025 Anouar. All rights reserved.</p>
    </div>
  </div>
</footer>

