<header class="shadow-md p-4 pl-9 pr-9 pw-full bg-[#fff7ed]">
  <div class="flex items-center justify-between max-w-screen-2xl mx-auto">

    <!-- Logo -->
    <a [routerLink]="['/']">
      <img src="/assets/images/logobg.png" alt="app logo" class="max-h-11 cursor-pointer">
    </a>

    <!-- Menu Desktop -->
    <nav class="hidden md:flex gap-5 uppercase text-lg">
      <a [routerLink]="'/'" class="hover:text-[#a9876e] transition-colors">Home</a>
      <a [routerLink]="'shop'" class="hover:text-[#a9876e] transition-colors">Shop</a>
      <a [routerLink]="'/skincare-routine'" class="hover:text-[#a9876e] transition-colors">Skincare Routine</a>
      <a [routerLink]="'/about-us'" class="hover:text-[#a9876e] transition-colors">About us</a>
      <a [routerLink]="'/contact-us'" class="hover:text-[#a9876e] transition-colors">Contact us</a>
      <a [routerLink]="'/faq'" class="hover:text-[#a9876e] transition-colors">FAQ</a>
    </nav>

    <!-- Icone -->
    <div class="flex items-center gap-4">
      <div class="relative">
        <input
          [(ngModel)]="searchTerm"
          (keyup.enter)="onSearch()"
          placeholder="Cerca prodotti..."
          class="border px-3 py-1 rounded-md w-64 focus:outline-none focus:ring-2 focus:ring-[#a9876e]"
        >
        <button
          (click)="onSearch()"
          class="absolute right-1 top-1/2 transform -translate-y-1/2 text-gray-600 hover:text-[#a9876e]"
        >
          <mat-icon>search</mat-icon>
        </button>
      </div>

      <span matBadge="0" matBadgeSize="medium" class="icon-wrapper">
        <mat-icon fontIcon="person_outline"></mat-icon>
      </span>

      <span matBadge="0" matBadgeSize="medium" class="icon-wrapper">
        <mat-icon>shopping_cart</mat-icon>
      </span>

      <span class="icon-wrapper">
        <mat-icon fontIcon="favorite_border"></mat-icon>
      </span>
    </div>


    <!-- Hamburger Menu per mobile -->
      <button class="md:hidden">
        <mat-icon fontIcon="menu"></mat-icon>
      </button>
    </div>
</header>
