.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: color 300ms ease;

  &:hover {
    color: #a9876e;
  }
}

.icon-wrapper mat-icon {
  font-size: 26px;
  line-height: 1;
}
